<form [formGroup]="formEmpleado" (ngSubmit)="onSubmit()">
  <div class="flex flex-column gap-2">
    <label for="fechaIngreso">Fecha de ingreso</label>
    <p-calendar
      [showIcon]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [disabledDates]="disabledDates"
      [readonlyInput]="true"
      [showTime]="false"
      dateFormat="yy-mm-dd"
      formControlName="fechaIngreso" />
    <small id="fechaIngreso-help"
      >Nota 1: Solo es permitido los ingresos el día <b>1° ó 16</b></small
    >
    <small id="fechaIngreso-help"
      >Nota 2: Solo se permite hasta un mes anterior y uno posterior del
      <b>periodo quincenal actual</b></small
    >
    <span *ngIf="isValidField('fechaIngreso')" class="p-error block">
      {{ getErrorMessage('fechaIngreso') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="correoElectronicoInstitucional">Correo Electrónico Institucional</label>
    <input
      pInputText
      id="correoElectronicoInstitucional"
      formControlName="correoElectronicoInstitucional" />
    <span *ngIf="isValidField('correoElectronicoInstitucional')" class="p-error block">
      {{ getErrorMessage('correoElectronicoInstitucional') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idTipoPlaza">Tipo de plaza</label>
    <p-dropdown
      [options]="tiposPlazas()"
      optionValue="id"
      optionLabel="descripcion"
      placeholder="Selecciona el tipo de plaza"
      formControlName="idTipoPlaza" />
    <span *ngIf="isValidField('idTipoPlaza')" class="p-error block">
      {{ getErrorMessage('idTipoPlaza') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idPuesto">Puesto</label>
    <p-dropdown
      [options]="puestos()"
      optionValue="idPuesto"
      optionLabel="descripcion"
      placeholder="Selecciona el "
      formControlName="idPuesto" />
    <span *ngIf="isValidField('idPuesto')" class="p-error block">
      {{ getErrorMessage('idPuesto') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idRegion">Región</label>
    <p-dropdown
      [options]="regiones()"
      optionValue="idRegion"
      optionLabel="descripcion"
      placeholder="Selecciona la Región "
      formControlName="idRegion" />
    <span *ngIf="isValidField('idRegion')" class="p-error block">
      {{ getErrorMessage('idRegion') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idDireccion">Dirección</label>
    <p-dropdown
      [options]="direcciones()"
      optionValue="idDireccion"
      optionLabel="descripcion"
      placeholder="Selecciona la Dirección"
      formControlName="idDireccion" />
    <span *ngIf="isValidField('idDireccion')" class="p-error block">
      {{ getErrorMessage('idDireccion') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idSubdireccion">Subdirección</label>
    <p-dropdown
      [options]="subdirecciones()"
      optionValue="idSubdireccion"
      optionLabel="descripcion"
      placeholder="Selecciona la Subdirección"
      formControlName="idSubdireccion" />
    <span *ngIf="isValidField('idSubdireccion')" class="p-error block">
      {{ getErrorMessage('idSubdireccion') }}
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <label for="idRoles">Roles</label>
    <p-multiSelect
      [options]="roles()"
      optionValue="idRol"
      optionLabel="descripcion"
      placeholder="Selecciona los roles"
      formControlName="idRoles" />
    <span *ngIf="isValidField('idRoles')" class="p-error block">
      {{ getErrorMessage('idRoles') }}
    </span>
  </div>

  <button mat-raised-button type="submit" color="primary">Siguiente</button>
</form>
