<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Bienvenido al</span>
      <div class="text-6xl text-primary font-bold mb-3">Sistema Integracional Divisional</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Dirección General de Enlace y Coordinación</p>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/imagenes/cows.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>

<p-button (click)="login()">Login</p-button>
