<mat-stepper linear #stepper>
  <mat-step [stepControl]="formPersona" label="Datos generales">
    <app-formulario-persona
      #formPersonaComponent
      [estadosCiviles]="estadosCiviles"
      [generos]="generos"
      (formSubmit)="goToNextStep()" />
  </mat-step>

  <mat-step [stepControl]="formDomicilio" label="Domicilio">
    <app-formulario-domicilio #formDomicilioComponent (formSubmit)="goToNextStep()" />
  </mat-step>

  <mat-step [stepControl]="formEscolaridad" label="Escolaridad">
    <app-formulario-escolaridad
      #formEscolaridadComponent
      [nivelesEscolaridades]="nivelesEscolaridades"
      [estadosNivelesEscolaridades]="estadosNivelesEscolaridades"
      (formSubmit)="goToNextStep()" />
  </mat-step>

  <mat-step [stepControl]="formEmpleado" label="Datos empleado">
    <app-formulario-empleado
      #formEmpleadoComponent
      [tiposPlazas]="tiposPlazas"
      [roles]="roles"
      (formSubmit)="goToNextStep()" />
  </mat-step>

  <mat-step label="Confirmación">
    <app-confirmacion-new-empleado #formConfirmacionComponent />
  </mat-step>
</mat-stepper>
